@import url('https://fonts.googleapis.com/css?family=Anton:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700|Righteous:100,200,300,400,500');


/*-------------------------------------------------------background colors---*/

.bg-semi-transparent {
    background-color: rgba(0, 0, 0, 0.8);
}

.main-quote {
    background-color:rgba(0, 105, 255, 0.2);
    border:3px solid #ffffff;
}

.bg-band-schedule table thead {
    background-color: #b30000;
}

.bg-band-schedule table tbody {
    background-color: #ffffff;
}

.bg-band-schedule {
    background-color: rgba(0, 0, 0, 0.8);
}

.bg-first {
    background-color: #1a75ff;
}

.bg-second {
    background-color: #b30000;
}

.bg-headings-band {
    background-color: rgba(0, 105, 255, 0.2);

}

.bg-hire-us {
    background-color: rgba(0, 0, 0, 0.8)
}

/*---------------------------------------------------------headings--*/

.main-heading {
    color: #ffffff;
    font-family: 'Anton';
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.song-heading {
    color: #0000ff;
    font-family: 'Righteous';
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    margin-bottom: 42px;
    padding-top: 30px;

}

/*-------------------------------------------------------Main Quote---*/

.main-quote {
    font-family: 'Righteous';
    font-size: 20px;
    color: #ffffff;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    right: 20%;
    border-left-width: 5px;
    margin-top: 40px;
    width: 103%
}

.citation {
    font-family: 'Righteous';
    font-size: 10px;
    color: #ffffff;
}

.happy-jack {
    font-family: 'Righteous';
    font-size: 35px;
    color: #ffffff;
    text-align: center;
    padding:10px;
}

/*----------------------Tour Date-----------------*/

.tour-dates {
    font-family: 'Righteous';
    font-size: 40px;
    text-align: center;
    color: #ffffff;
}

/*-----------------------------Band Schedule Table-------------*/

.bg-band-schedule {
    margin-top: 10%!important;

}

.bg-band-schedule table thead {
    color: #ffffff;
    font-family: 'EXO';
    font-weight: 800;
    font-size: 14px;

}

.bg-band-schedule table tbody {
    font-family: 'EXO';
    font-weight: 800;
    font-size: 14px;
    text-align: center;
    color: #000000;

}

.bg-band-schedule th {
    text-align: center;
}

.availability-tickets {
    text-align: center;
    font-family: 'EXO';
    font-weight: 800;
    font-size: 14px;
    color: #000000;
}


.table tr,
th,
td {
    border: 5px solid black;
}




/*----------------------------------------------------------navbar--*/

.navbar-brand {
    padding-top: 15px;

}

.navbar-inverse {
    background-color: #000000 !important;
    border-bottom: none;
    margin: 0;

}

.navbar-collapse {
    position: relative;
    z-index: 99;
}

.navbar-right {
    margin-right: 30px !important;
}

/*--------------------------------------------------------Icon bar and toggle--*/

.navbar-toggle {
    background-color: #004782;

}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #ffffff;
    font-size: 400px;

}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle {
    border: 2px solid #b30000;
    margin-top: 16px;
}

.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
    background-color: #b30000;

}


/*-----------------------------------------------------------Icons--*/

.icons:before {
    margin-right: 20px;
    margin-left: 20px;
}

.icons:after {
    margin-left: 20px
}


.icons {
    margin-bottom: 20px;
    color: #ff0000;
    font-size: 20px;
    list-style: none;
}


/*-------------------------------------List Items and Social Media Icons--*/

.list-items {
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.social-media-links {
    font-size: 40px;
    text-align: center;
}


.social-media-links a i {
    color: #ff0000;
    display: inline-block;
    padding: 10px 0;
    text-align: center;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media-links a i:hover {
    color: #ffffff;
}


/*-------------------------------------------------Navagation Links--*/

.nav a {
    text-decoration: none;
}

.nav a:hover {
    color: #0047b3;
    transition: all 0.20s ease-in-out;
    -moz-transition: all 0.20s ease-in-out;
    -webkit-transition: all 0.20s ease-in-out;
    -o-transition: all 0.20s ease-in-out;
}


/*------------------------------------------------------------Photos---*/
.photos-description {
    color: #ff0000;
    font-family: 'Righteous', 'sans-serif';
    font-size: 40px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 10px;
    margin-top: 5%;

}
.photos {

    width: 100% !important;
    margin-top: 6%;
    margin-left: 33px;


}

.photos-2 {
    width: 100% !important;
    margin-top: 0;
    margin-left: 0;
}

.gallery-photos {

    width: 90% !important;
    height: 10%;
    margin-bottom: 200px;
    margin-left: 21px;
}



.images {
    height: 100vh;
    padding: 0;
    background-image: url('../images/main-image.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}




/*----------------------------------------Footer--*/

.footer-container {
    background-color: #000000;

}

.about {
    font-family: 'Anton', 'sans-serif';
    font-size: 15px;
    font-weight: 100;
    color: #ffffff;
    text-align: right;
}


/*-------------------------------------Videos and Audio---*/

.video-description {
    color: #ffffff;
    font-family: 'Righteous', 'sans-serif';
    font-size: 40px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 10px;
    margin-bottom: 5%;
}

.main-video {
   margin-bottom: 29px;
   width: 100%;
   height: 300px;

}

.videos {
    margin-top: 6%;
    margin-left: 3%;

}


.videos-2 {
    margin-top: 10%;
    margin-left: 3%;

}

.clips {
    width: 90% !important;
    height: 250px;
    margin-top: 55px;
    margin-left: 21px;
}

.song-descriptions {
    margin-left: 70px;
    font-family: 'Righteous', 'sans-serif';
    font-size: 20px;
    color: #ff0000;
    word-spacing: 10px;
    width: 200px;
    padding-top: 20px;

}

.bg-semi-transparent {
    margin-top: 30px;
}





/***************Band Members----------------*/

.bg-headings-band {
     margin-top: 30px;
}
.member-heading {
    text-align: center;
    color: #ffffff;
    font-family: 'Righteous', 'sans-serif';
    font-size: 40px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 10px;
    margin-top: 5%;
}

.member-photos {
    margin-top: 40%;
    margin-left: -18%;
}


.band-images {
    margin-left: 35px;
}


.member-description {
    text-align: center;
    color: #ffffff;
    font-family: 'Righteous', 'sans-serif';
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
    margin-right: -155px;
    margin-left: -145px;
}

.band-members {

    display: flex;
    justify-content: center;

}

.bg-hire-us {
        margin-top: 82px;
        margin-left: 0;
        padding: 10px 10px;
        width: 124%;
    }


/*--------------------------Forms------------*/

.form-group {
    font-family: 'Righteous', 'sans-serif';
    color: #1a1aff;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 2px;
    left: 23%;

}

.text-muted {

    font-family: 'Righteous', 'sans-serif';
    color: #1a1aff;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 5px;

}


.main-form {
    width: 80%;
    top: 124%;
    left: 18%;
}

.form-heading {

    font-family: 'Exo', 'sans-serif';
    color: #e30000;
    font-size: 50px;
    font-weight: 800;
    line-height: 43px;
    margin-top: 33px;
    margin-bottom: 70px;
    letter-spacing: 5px;
    text-align: center;


}

.submit-button {
    background-color: #000099;

}

/*-------------------------Media Queries--------------*/


/*-----------------------------------Logo Query--*/

@media screen and (max-width: 767px) {
    .logo {
        width: 90px;
        height: 50px;
        padding-bottom: 10px;
        margin: 0px;
    }

}

@media(min-width:320px) and (max-width:767px) {
    .footer-logo {
        width: 90px;
        height: 50px;
        padding-bottom: 10px;
        margin-top: 20px;
    }

}


/*--------------------------------Navbar Query -----*/


@media(min-width:1460px) {
    .navbar-inverse {
        background-color: #000000 !important;
        border-bottom: none;
        margin: 0;

    }
}

/*--------------------------------Social Media Query----*/


@media(min-width:768px) {
    .social-media-links li a i {
        text-align: center;
    }
}



/*------------------------Photos Media Query-----*/

@media(min-width:320px) and (max-width:500px) {
    .gallery-photos {
    width: 90% !important;
    height: 10%;
    margin-top: -16px;
    margin-bottom: 50px;
    margin-left: 22px;
}



.photos-description {
    font-size:20px;
    letter-spacing: 6px;
}
}

/*-------------------------Audio Queries--------------*/

@media (min-width: 768px) and (max-width:800px) {
    .container {
        width: 734px;
    }
}

@media (min-width:300px) and (max-width:767px) {
    .bg-semi-transparent {
        margin-left: -15px;

}
}


/*----------------Heading Query-------------*/

@media(min-width:768px) {
    .main-heading {
        font-size: 70px;
    }
}

/*-------------------Songs Query-----------*/

@media(min-width:768px) {
    .song-heading {
        margin-right: 48px;
    }

    .song-descriptions {
        margin-left: 128px
    }
}


@media(min-width:300px) and (max-width:767px) {

    .song-descriptions {
        padding-top: 6px;
        margin-left: 39px;
    }
}

/*---------------------Video Query------------*/

@media(max-width:767px) {

    .videos {
        margin-top: 6%;
        margin-bottom: 2%;
    }


    .videos-2 {
        margin-top: -9px;
    }

.video-description {
    font-size:20px;
    margin-bottom:10%;
}
}

@media(min-width:768px) and (max-width:1366px){
.videos-2 {

    margin-top: 15%;


}
}

@media(min-width:300px) and (max-width:767px) {

    .clips {
    width: 90% !important;
    margin-top: 55px;
    margin-left: 21px;
    height:125px;
    }

    .main-video {
        height:125px;
    }
}

@media(min-width:375px) and (max-width:375px) {
    .videos {
        margin-top: 5%;
    }


    .videos {
        margin-top: 12%;
        margin-bottom: 2%;
    }

    .videos-2 {
        margin-top: 20%;
    }
}

/*----------------------------------Band Members Queries--*/

@media (min-width:768px) and (max-width:1366px) {
.bg-headings-band {
    width:95% !important;
}
}

/*-------------------------------------------------Forms Query------------*/

@media(min-width:300px) and (max-width:767px) {

.form-heading {
    font-size:35px;
    margin-top: 36px;
    margin-bottom: 70px;
    letter-spacing:6px;


}
}

/*--------------Images  Queries-----------*/

@media(min-width:360px) {
    .images {
        height: 200vh;
    }
}

@media(min-width:411px) {
    .images {
        height: 180vh !important;
    }
}

@media(min-width:320px) and (max-width:500px) {
    .images {
        height: 220vh !important;
    }
}

@media(min-width:375px) {

    .images {
        height: 150vh;
    }
}

@media (min-width: 320px) and (max-width:500px) {

    .images-contact {
        height: 500vh !important;
    }
}

@media (min-width: 320px) and (max-width: 500px) {

    .images-audio {
        height: 290vh !important;
    }



}


/*-----------------------------------------------Logo Media Query-----*/

@media (min-width:768px) {
    .logo-brand {
        position: absolute;
        bottom: 80%;
    }
}




